# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development settings
.env*
*.sqlite3
*.pyc
*.pyo
pyvenv.cfg

# Log files
logs/
*.log

# Ignore Static files
static/

# Ignore Visual Studio Code settings
.vscode/


# virtual environment
Lib
Scripts

# ignore migrations except initial
techsupport/migrations/00*.py