  /* Google Fonts */
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');


/* Customize login fields */
  input[type="text"],
  input[type="email"],
  input[type="password"] {
      border: 2px solid #ccc;
      border-radius: 5px;
      padding: 8px;
      width: 100%;
      margin-bottom: 10px;
      font-size: 16px;
      font-family: 'Montserrat', sans-serif;
  }

  /* Customize submit button */
  button[type="submit"] {
      background-color: #007bff;
      border: none;
      color: #fff;
      padding: 10px 20px;
      font-size: 18px;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
  }

  button[type="submit"]:hover {
      background-color: #0069d9;
      transition: all 0.3s ease-in-out;
  }



.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 50px;
    max-width: 400px;
    /* Change this value to adjust the width */
    width: 100%;
    margin: 0 auto;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    text-align: center;
    margin: 0 auto;
    width: fit-content;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    max-width: 350px;
    margin-bottom: 10px;
}

label {
    font-family: 'Montserrat', sans-serif;
    display: block;
    margin-bottom: 5px;
}

button[type="submit"] {
    display: block;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

  .btn-primary:hover {
      background-color: #0069d9;
      border-color: #0062cc;
  }

.forgot-password-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.forgot-password-link:hover {
    color: rgb(29, 216, 123);
}

  @media (max-width: 576px) {
      .card {
          margin-top: 50px;
      }
      .card-body {
                width: 90%;
                padding: 20px;
            }
  }

.navbar-nav li:nth-child(1),
.navbar-nav li:nth-child(2),
.navbar-nav li:nth-child(3) {
    display: none;
}