{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Edulution Techsupport Management{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    {% block head %}
    {% endblock %}
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    {% if user.is_staff %}
                        <li><a href="{% url 'admin_dashboard' %}">Dashboard</a></li>
                    {% else %}
                        <li><a href="{% url 'ticket_list' %}">My Tickets</a></li>
                        <li><a href="{% url 'create_ticket' %}">Create Ticket</a></li>
                    {% endif %}
                    <li><a href="{% url 'account_logout' %}">Logout</a></li>
                {% elif request.resolver_match.url_name == 'account_login' %}
                    <!-- Do not show links to Home, Login, and Sign Up on the login page -->
                {% elif request.resolver_match.url_name == 'password_reset' %}
                    <!-- Do not show links to Home, Login, and Sign Up on the password reset page -->
                {% else %}
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'account_login' %}">Login</a></li>
                    <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    {% block scripts %}
    {% endblock %}
</body>
</html>


