{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
<header>
    <!-- Include your standard CSS and other meta tags -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0@dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6G6lYCXalGZ4CkVg" crossorigin="anonymous">
    <script src="{% static 'js/user_dashboard.js' %}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">

    {% if dark_mode %}
        <link rel="stylesheet" href="{% static 'css/dark-mode.css' %}">
    {% else %}
        <link rel="stylesheet" href="{% static 'css/light-mode.css' %}">
    {% endif %}
</header>
<div class="container py-4">
  <div class="row mb-4">
    <div class="col-lg-3 col-md-6">
      <!-- Widget 1 -->
      <div class="card bg-light">
        <div class="card-body d-flex justify-content-between align-items-center">
          <div class="text-info">
            <i class="bi bi-journals fs-1"></i>
          </div>
          <div class="text-center">
            <h2 class="mt-3 mb-3">{{ tickets.count }}</h2>
            <p class="text-muted">{{ widget_description }}</p>
            <h6 class="text-muted fw-normal" title="All Tickets">Total</h6>
          </div>
          <div class="progress-circle bg-info mx-2" data-progress="{{ tickets.count }}">
            <div class="progress-circle-mask">
              <div class="progress-circle-fill"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <!-- Widget 2 -->
      <div class="card bg-light">
        <div class="card-body d-flex justify-content-between align-items-center">
          <div class="text-secondary">
            <i class="bi bi-exclamation-circle widget-icon fs-1"></i>
          </div>
          <div class="text-center">
            <h2 class="mt-3 mb-3">{{ open_tickets_count }}</h2>
            <p class="text-muted">{{ widget_description }}</p>
            <h6 class="text-muted fw-normal" title="Open">Open</h6>
          </div>
          <div class="progress-circle bg-secondary mx-2" data-progress="{{ open_tickets_count }}">
            <div class="progress-circle-mask">
              <div class="progress-circle-fill"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <!-- Widget 3 -->
      <div class="card bg-light">
        <div class="card-body d-flex justify-content-between align-items-center">
          <div class="text-warning">
            <i class="bi bi-hourglass-split widget-icon fs-1"></i>
          </div>
          <div class="text-center">
            <h2 class="mt-3 mb-3">{{ in_progress_tickets_count }}</h2>
            <p class="text-muted">{{ widget_description }}</p>
            <h6 class="text-muted fw-normal" title="In Progress">In Progress</h6>
          </div>
          <div class="progress-circle bg-warning mx-2" data-progress="{{ in_progress_tickets_count }}">
            <div class="progress-circle-mask">
              <div class="progress-circle-fill"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <!-- Widget 4 -->
      <div class="card bg-light">
        <div class="card-body d-flex justify-content-between align-items-center">
          <div class="text-success">
            <i class="bi bi-check-circle widget-icon fs-1"></i>
          </div>
          <div class="text-center">
            <h2 class="mt-3 mb-3">{{ resolved_tickets_count }}</h2>
            <p class="text-muted">{{ widget_description }}</p>
            <h6 class="text-muted fw-normal" title="Resolved">Resolved</h6>
          </div>
          <div class="progress-circle bg-success mx-2" data-progress="{{ resolved_tickets_count }}">
            <div class="progress-circle-mask">
              <div class="progress-circle-fill"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
    <div class="container">
      {% if user_role == 'technician_or_above' %}
      <div class="card shadow-sm">
        <div class="card-header border-bottom border-gray-300">
          <h2 class="h5 mb-0">Ticket Insights</h2>
        </div>
        <div class="card-body">
          {% for trend in ticket_insights.common_ticket_trends %}
          <div class="row align-items-center mb-4">
            <div class="col">
              <div class="progress-wrapper">
                <div class="progress-info">
                  <div class="h6 mb-0">{{ trend.category__name }}</div>
                  <div class="small fw-bold text-dark">{{ trend.ticket_count }} tickets</div>
                </div>
                <div class="progress mb-0">
                  <div class="progress-bar bg-{{ forloop.counter0|cycle_color }}" role="progressbar"
                    aria-valuenow="{{ trend.ticket_count }}" aria-valuemin="0" aria-valuemax="100"
                    style="width: {{ trend.ticket_count }}%;"></div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}

          {% for issue in ticket_insights.frequent_issues %}
          <div class="row align-items-center mb-4">
            <div class="col">
              <div class="progress-wrapper">
                <div class="progress-info">
                  <div class="h6 mb-0">{{ issue.subcategory__name }}</div>
                  <div class="small fw-bold text-dark">{{ issue.ticket_count }} tickets</div>
                </div>
                <div class="progress mb-0">
                  <div class="progress-bar bg-{{ forloop.counter0|cycle_color }}" role="progressbar"
                    aria-valuenow="{{ issue.ticket_count }}" aria-valuemin="0" aria-valuemax="100"
                    style="width: {{ issue.ticket_count }}%;"></div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
        <!-- Button to Navigate to Export Form -->
        <div class="row align-items-center mb-4">
          <div class="col">
            <a href="{% url 'export_tickets_csv' %}" class="btn btn-primary">Export Support Tickets</a>
          </div>
        </div>
      {% endif %}

      <!-- Submit Ticket Button and Search Filter -->
      <div class="d-flex justify-content-between align-items-center mb-4">
        <div>
          <a href="{% url 'create_ticket' %}" class="btn btn-primary">
            <i class="bi bi-journal-plus me-2"></i> Submit Ticket
          </a>
        </div>
        <div class="d-flex align-items-center">
          <form action="{% url 'dashboard' %}" method="GET" class="input-group">
            <input type="text" name="search_query" class="form-control" placeholder="Search" value="{{ search_query }}">
            <div class="input-group-append">
              <button type="submit" class="btn btn-outline-primary">
                <i class="bi bi-search me-2"></i>
              </button>
            </div>
            <!-- Ticket Filter -->
            <div class="form-group mx-2 mb-0">
              <select name="status" class="form-control">
                <option value="">All</option>
                <option value="Open">Open</option>
                <option value="In Progress">In Progress</option>
                <option value="Resolved">Resolved</option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary">
              <i class="bi bi-filter me-2"></i>
            </button>
          </form>
        </div>
      </div>
      {% if user_role == 'technician_or_above' or user_role == 'manager' %}
      <div class="container mt-4">
        <form method="get" class="form-inline">
          <div class="form-group mx-2">
            <select name="region" id="region" class="form-control">
              <option value="" {% if not selected_region %}selected{% endif %}>All Regions</option>
              {% if regions %}
                {% for region in regions %}
                  <option value="{{ region.name }}" {% if selected_region == region.name %}selected{% endif %}>{{ region.name }}</option>
                {% endfor %}
              {% endif %}
            </select>
          </div>
          <div class="form-group mx-2">
            <select name="centre" id="centre" class="form-control">
              <option value="" {% if not selected_centre %}selected{% endif %}>All Centres</option>
              {% if centres %}
                {% for centre in centres %}
                  <option value="{{ centre.name }}" {% if selected_centre == centre.name %}selected{% endif %}>{{ centre.name }}</option>
                {% endfor %}
              {% endif %}
            </select>
          </div>
          <div class="mx-2">
            <button type="submit" class="btn btn-primary">Apply</button>
          </div>
        </form>
      </div>
      {% endif %}

      <div class="card-header">
        <div class="table-responsive">
          <table class="table text-center">
            <thead class="table-light">
              <tr>
                <th>#</th>
                <th>Title</th>
                <th>Status</th>
                <th>Priority</th>
                <th>Ticket Age</th>
                {% if user_role == 'technician_or_above' %}
                <th>Actions</th>
                {% endif %}
              </tr>
            </thead>
            <tbody>
              {% if paginated_tickets %}
              {% for ticket in paginated_tickets %}
              <tr>
                <td>{{ ticket.ticket_number }}</td>
                <td><a href="{% url 'ticket_details' ticket.id %}">{{ ticket.title }}</a></td>
                <td>
                  {% if ticket.status == 'Resolved' %}
                  <span class="badge bg-success d-grid">{{ ticket.status }}</span>
                  {% elif ticket.status == 'In Progress' %}
                  <span class="badge bg-warning d-grid">{{ ticket.status }}</span>
                  {% else %}
                  <span class="badge bg-primary d-grid">Open</span>
                  {% endif %}
                </td>
                <td>
                  <div class="d-flex align-items-center justify-content-start">
                    {% if ticket.priority == 'High' %}
                    <i class="bi bi-exclamation-triangle text-danger me-1"></i>
                    {% elif ticket.priority == 'Medium' %}
                    <i class="bi bi-exclamation-triangle text-warning me-1"></i>
                    {% else %}
                    <i class="bi bi-exclamation-triangle text-success me-1"></i>
                    {% endif %}
                    {{ ticket.priority }}
                  </div>
                </td>
                <td>{{ ticket.ticket_age }}</td>
                <!-- Only visible to technician or above -->
                {% if user_role == 'technician_or_above' %}
                {% if ticket.status == 'In Progress' or ticket.status == 'Resolved' %}
                <td>
                  <i class="bi bi-ticket-detailed"></i><a href="{% url 'ticket_details' ticket.id %}" class="btn btn-success d-grid">Details</a>
                </td>
                {% else %}
                <td>
                  <a href="{% url 'ticket_details' ticket.id %}" class="btn btn-primary d-grid">Take Ticket</a>
                </td>
                {% endif %}
                {% endif %}
              </tr>
              {% endfor %}
              {% else %}
              <tr>
                <td colspan="{% if user_role == 'technician_or_above' %}6{% else %}5{% endif %}">No tickets found.</td>
              </tr>
              {% endif %}
            </tbody>
          </table>
          <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center mt-3">
              {% if paginated_tickets.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?page=1" aria-label="First">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="?page={{ paginated_tickets.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&lsaquo;</span>
                  </a>
                </li>
              {% endif %}
      
              {% for i in paginated_tickets.paginator.page_range %}
                {% if i == paginated_tickets.number %}
                  <li class="page-item active" aria-current="page">
                    <span class="page-link">{{ i }} <span class="visually-hidden">(current)</span></span>
                  </li>
                {% else %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                  </li>
                {% endif %}
              {% endfor %}
      
              {% if paginated_tickets.has_next %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ paginated_tickets.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&rsaquo;</span>
                  </a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="?page={{ paginated_tickets.paginator.num_pages }}" aria-label="Last">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              {% endif %}
            </ul>
          </nav>
        </div>
      </div>
      {% endblock %}