{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="icon" href="{% static 'images/edulution_map_only_green.png' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <link rel="js" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
  <link rel="js" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js">
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
</head>
{% block content %}

<body>
  <main>
    <!-- Dashboard Widgets -->
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title"><i class="bi bi-journal-arrow-up"></i>{{ tickets.count }}</h3>
            <p class="widget-description">All Tickets</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title"><i class="bi bi-folder"></i>{{ open_tickets_count }}</h3>
            <p class="widget-description">Open</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title"><i class="bi bi-clock-history"></i>{{ in_progress_tickets_count }}</h3>
            <p class="widget-description">In Progress</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title"><i class="bi bi-check2-square"></i>{{ resolved_tickets_count }}</h3>
            <p class="widget-description">Resolved</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Submit Ticket Button and Search Filter -->
    <div class="d-flex justify-content-between align-items-center my-3">
      <div>
        <a href="{% url 'create_ticket' %}" class="btn btn-primary"><i class="bi bi-journal-plus"></i> Submit Ticket</a>
      </div>
      <div class="d-flex">
        <form action="{% url 'dashboard' %}" method="GET" class="input-group">
          <input type="text" name="search_query" class="form-control" placeholder="Search" value="{{ search_query }}">
          <button type="submit" class="btn btn-outline-primary"><i class="bi bi-search"></i></button>
        </form>
      </div>
    </div>

<!-- Ticket Table -->
<table id="ticket-table" class="table">
  <thead>
    <tr>
      <th>Ticket Number</th>
      <th>Title</th>
      <th>Status</th>
      <th>Priority</th>
      <th>Ticket Age</th>
      {% if user_role == 'technician_or_above' %}
        <th></th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% if tickets %}
      {% for ticket in tickets %}
        <tr>
          <td><a href="{% url 'ticket_details' ticket.id %}">{{ ticket.ticket_number }}</a></td>
          <td>{{ ticket.title }}</td>
          <td>{{ ticket.status }}</td>
          <td>{{ ticket.priority }}</td>
          <td>{{ ticket.ticket_age }}</td>
          {% if user_role == 'technician_or_above' %}
            {% if ticket.status == 'in_progress' or ticket.status == 'resolved' %}
              <td>
                <a href="{% url 'ticket_details' ticket.id %}" class="btn btn-warning">View Details</a>
              </td>
            {% else %}
              <td>
                <a href="{% url 'ticket_details' ticket.id %}">
                  <button type="submit" class="btn btn-primary">Take Ticket</button>
                </a>
              </td>
            {% endif %}
          {% endif %}
        </tr>
      {% endfor %}
    {% else %}
      <tr>
        <td colspan="6">No tickets found.</td>
      </tr>
    {% endif %}
  </tbody>
</table>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/user_dashboard.js' %}"></script>
  </main>
</body>

</html>


{% endblock %}