{% extends "base.html" %}

{% block content %}
  <h1>Admin Dashboard</h1>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3>Total Tickets</h3>
        </div>
        <div class="card-body">
          <h4>{{ total_tickets }}</h4>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3>Open Tickets</h3>
        </div>
        <div class="card-body">
          <h4>{{ open_tickets }}</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3>Closed Tickets</h3>
        </div>
        <div class="card-body">
          <h4>{{ closed_tickets }}</h4>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3>Tech Users</h3>
        </div>
        <div class="card-body">
          <h4>{{ tech_users }}</h4>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
