{% extends 'admin/base.html' %}

{% block content %}
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Admin Dashboard</h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-4 col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-ticket fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge">{{ tickets.count }}</div>
            <div>Support Tickets</div>
          </div>
        </div>
      </div>
      <a href="{% url 'manager_dashboard' %}">
        <div class="panel-footer">
          <span class="pull-left">View Details</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Support Ticket Statistics</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="table-responsive">
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>Category</th>
                    <th>Subcategory</th>
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody>
                  {% for category in categories %}
                  <tr>
                    <td>{{ category.name }}</td>
                    <td></td>
                    <td>{{ category.sub_categories.all|length }}</td>
                  </tr>
                  {% for subcategory in category.sub_categories.all %}
                  <tr>
                    <td></td>
                    <td>{{ subcategory.name }}</td>
                    <td>{{ subcategory.tickets.all|length }}</td>
                  </tr>
                  {% endfor %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
