{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid mt-5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <!-- Tickets Card -->
            <div class="card border-0 shadow">
                <div class="card-header bg-success text-white text-center rounded-top">
                    <h6 class="card-title">
                        <i class="bi bi-journal-plus me-2"></i><span class="mr-2"></span>
                        {% if request.user.is_technician %}
                            <strong>Assigned to you</strong>
                        {% else %}
                            <strong>All Tickets</strong>
                        {% endif %}
                    </h6>
               </div>
                <div class="table-responsive">
                    <!-- Tickets Table -->
                    <table class="table table-striped table-bordered text-truncate">
                        <thead>
                            <tr>
                                <th class="text-start">#</th>
                                <th class="text-start">Title</th>
                                <th class="text-start">Centre</th>
                                <th class="text-start">Status</th>
                                <th class="text-start">Priority</th>
                                <th class="text-start">Ticket Age</th>
                                {% if user_role == 'technician_or_above' %}
                                <th class="text-start">Actions</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for ticket in tickets %}
                                <tr>
                                    <td>{{ ticket.ticket_number }}</td>
                                    <td class="text-start">
                                        <div class="d-flex align-items-center justify-content-start">
                                            <a href="{% url 'ticket_details' ticket.id %}" class="text-truncate" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ ticket.title }}">{{ ticket.title }}</a>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center justify-content-start">{{ ticket.centre }}</div>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center justify-content-start">
                                            {% if ticket.status == 'Resolved' %}
                                                <i class="bi bi-check2 me-1"></i><span class="mr-2"></span>{{ ticket.status }}
                                            {% elif ticket.status == 'In Progress' %}
                                                <i class="bi bi-hourglass me-1"></i><span class="mr-2"></span>{{ ticket.status }}
                                            {% else %}
                                                <i class="bi bi-exclamation-diamond me-1"></i><span class="mr-2"></span>Open
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center justify-content-start">
                                            {% if ticket.priority == 'High' %}
                                                <i class="bi bi-exclamation-triangle text-danger me-1"></i><span class="mr-2"></span>
                                            {% elif ticket.priority == 'Medium' %}
                                                <i class="bi bi-exclamation-triangle text-warning me-1"></i><span class="mr-2"></span>
                                            {% else %}
                                                <i class="bi bi-exclamation-triangle text-success me-1"></i><span class="mr-2"></span>
                                            {% endif %}
                                            {{ ticket.priority }}
                                        </div>
                                    </td>
                                    <td>{{ ticket.ticket_age }}</td>
                                    {% if request.user.is_technician %}
                                        <td class="text-start">
                                            <div class="d-grid">
                                                <a href="{% url 'ticket_details' ticket.id %}" class="btn btn-secondary btn-block">Details</a>
                                            </div>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% empty %}
                                <tr>
                                    <!-- No Tickets Found -->
                                    <td colspan="{% if request.user.is_technician %}6{% else %}5{% endif %}" class="text-center">No tickets found.</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
