{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <!-- Ticket Form Card -->
            <div class="card shadow">
                <!-- Card Header -->
                <div class="card-header bg-success text-white text-center">
                    <h6 class="card-title">
                        <i class="bi bi-journal-plus me-2"></i>
                        <span class="mr-2"></span><strong>Log a New Ticket</strong>
                    </h6>
                </div>
                <div class="card-body">
                    <!-- Ticket Form -->
                    <form method="post" class="form">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="title" class="form-label"><strong>Give your ticket a title:</strong></label>
                            {{ form.title|add_placeholder:"Enter title here"|add_class:"form-control" }}
                            {% if form.title.errors %}
                            <div class="text-danger">
                                {{ form.title.errors|join:", " }}
                            </div>
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            <label for="centre" class="form-label"><strong>Where was this issue observed?</strong></label>
                            {{ form.centre|add_placeholder:"Centre"|add_class:"form-control" }}
                            {% if form.centre.errors %}
                            <div class="text-danger">
                                {{ form.centre.errors|join:", " }}
                            </div>
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            <label for="category" class="form-label"><strong>What kind of issue is it?</strong></label>
                            {{ form.category|add_placeholder:"Category"|add_class:"form-control" }}
                            {% if form.category.errors %}
                            <div class="text-danger">
                                {{ form.category.errors|join:", " }}
                            </div>
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            <label for="subcategory"><strong>What is the specific problem?</strong></label>
                            {{ form.subcategory|add_placeholder:"Subcategory"|add_class:"form-control" }}
                            {% if form.subcategory.errors %}
                            <div class="text-danger">
                                {{ form.subcategory.errors|join:", " }}
                            </div>
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            <label for="description"><strong>Please write a short description of the
                                    issue</strong></label>
                            {{ form.description|add_placeholder:"Enter your description here"|add_class:"form-control"}}
                            {% if form.description.errors %}
                            <div class="text-danger">
                                {{ form.description.errors|join:", " }}
                            </div>
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            {{ form.priority|add_placeholder:"Priority"|add_class:"form-select" }}
                        </div>
                        <button type="submit" class="btn bg-primary btn-block text-white">
                            <i class="bi bi-check me-2"></i><span class="mr-2"></span>Submit
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .bg-primary {
        background-color: #5A97D0 !important;
    }
</style>
<!-- Submit Ticket JavaScript -->
<script src="{% static 'js/submit_ticket.js' %}"></script>
{% endblock %}