{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/submit_ticket.css' %}">
{% block content %}
  <h1>Submit a ticket</h1>

  <form method="post" class="needs-validation" novalidate>
    {% csrf_token %}

    <div class="mb-3">
      <label for="id_centre" class="form-label">At which center was the issue observed?</label>
      {{ form.centre.label_tag }}
      {{ form.centre }}
    </div>

    <div class="mb-3">
      <label for="id_category" class="form-label">What type of issue is it?</label>
      {{ form.category.label_tag }}
      {{ form.category }}
    </div>

    <div class="mb-3">
      <label for="id_subcategory" class="form-label">Subcategory:</label>
      {{ form.subcategory.label_tag }}
      {{ form.subcategory }}
    </div>

    <div class="mb-3">
      <label for="id_title" class="form-label">Ticket Title:</label>
      {{ form.title.label_tag }}
      {{ form.title }}
    </div>

    <div class="mb-3">
      <label for="id_description" class="form-label">Briefly describe the issue:</label>
      {{ form.description.label_tag }}
      {{ form.description }}
    </div>

    <button type="submit" class="btn btn-primary" id="submit-btn" disabled>Submit</button>
  </form>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{% static 'js/submit_ticket.js' %}"></script>
{% endblock %}
