{% extends '../base.html' %}

{% block content %}
  <h1>Ticket Details</h1>
  <p>Ticket ID: {{ ticket.ticket_number }}</p>
  <p>Submitted By: {{ ticket.submitted_by }}</p>
  <p>Status: {{ ticket.get_status_display }}</p>
  <p>Priority: {{ ticket.get_priority_display }}</p>
  <p>Centre: {{ ticket.centre }}</p>
  <p>Category: {{ ticket.category }}</p>
  <p>Subcategory: {{ ticket.subcategory }}</p>
  <p>Description: {{ ticket.description }}</p>

  <h2>Update Ticket</h2>
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="description">Description:</label>
      <textarea class="form-control" id="description" name="description" rows="4">{{ ticket.description }}</textarea>

    </div>
    <button type="submit" class="btn btn-primary">Update</button>
  </form>
{% endblock %}

