{% extends "accounts/base.html" %}

{% block content %}
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="card my-4">
        <div class="card-body">
          <h4 class="card-title">Update Ticket</h4>
          <hr>
          <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Update Ticket</button>
            <a href="{% url 'ticket_detail' ticket.id %}" class="btn btn-secondary">Cancel</a>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
