body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #bdbcbc;
  background-repeat:no-repeat;
  background-size:100%;
}

.bg-primary {
  background-color: #5A97D0 !important;
  }

.login-details {
  text-align: center;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.logo img {
  max-width: 100px;
  height: auto;
}

.logo h2 {
  margin-top: 10px;
  font-size: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.submit-button {
  text-align: center;
  color: rgb(165, 192, 10);
}

.btn-primary {
  padding: 10px 20px;
}

.google-icon {
  margin-top: 10px;
}

.google-icon small {
  display: block;
}

.google-icon img {
  max-width: 40px;
  height: auto;
}

/* Responsive Adjustments */
@media (max-width: 576px) {
  .login-details {
    width: 90%;
    max-width: none;
  }
}

@media (max-width: 768px) {
  .form-control {
    font-size: 16px;
  }
}

@media (max-width: 992px) {
  .logo h2 {
    font-size: 18px;
  }
}

@media (max-width: 1200px) {
  .logo h2 {
    font-size: 16px;
  }
}
