<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}Edulution Technical Support{% endblock %}</title>
  <!-- add any custom CSS or JavaScript files here -->
</head>
<body>
  <div class="navbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'home' %}">Home</a>
      </li>
      <!-- add any additional navigation links here -->
    </ul>
    <ul class="navbar-nav navbar-right">
      {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'account_login' %}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'account_signup' %}">Sign Up</a>
        </li>
      {% endif %}
    </ul>
  </div>
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
  <!-- add any custom JavaScript files here -->
</body>
</html>
