{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="login-details">
        <div class="logo">
            <img src="{% static 'images/edulution_map_only_green.png' %}" alt="Edulution logo">
            <h2>Edulution Technical Support</h2>
        </div>

        {% if error_message %}
        <p>{{ error_message }}</p>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <!-- <label for="username">Username/Email address</label> -->
                <input type="text" class="form-control" id="username" name="username"
                    placeholder="Username/Email address" required />
            </div>

            <div class="form-group">
                <!-- <label for="password">Password</label> -->
                <input type="password" class="form-control" id="password" name="password" placeholder="Password"
                    required />
            </div>

            <div class="form-group">
                <a href="http://127.0.0.1:8000/password_reset">Forgot password?</a>
            </div>

            <div class="submit-button">
                <button type="submit" class="btn btn-primary">Sign In</button>
            </div>
        </form>

        <div class="google-icon">
            <small>Sign in with</small>
            <a href="#">
                <img src="{% static 'images/google_icon.png' %}" alt="Sign in with Google">
            </a>
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
