{% load static %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="icon" href="{% static 'images/edulution_map_only_green.png' %}">
<title>Login</title>
{% endblock %}
{% block content %}
<div class="login-details">
    <div class="logo">
        <img src="{% static 'images/edulution_map_only_green.png' %}" alt="Edulution logo">
        <h2>Edulution Technical Support</h2>
    </div>
    <div>
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} mx-auto" role="alert">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="form-group">
            <input type="text" class="form-control" id="username" name="username" placeholder="Username/Email" required />
        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="password" name="password" placeholder="Password" required />
        </div>
        <div class="form-group">
            <a href="#">Forgot password?</a>
        </div>
        <div class="submit-button">
            <button type="submit" class="btn btn-primary">Sign In</button>
        </div>
    </form>
    <div class="google-icon">
        <a href="#">
            <img src="{% static 'images/google_icon.png' %}" alt="Sign in with Google">
        </a>
    </div>
</div>
{% endblock %}