{%extends 'base.html' %}
{% load crispy_forms_tags%}
{%block content%}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="card-body p-5">
            <form method="POST" action="">
                {% csrf_token %}
                <div class="form-group">
                    <h2 class="font-weight-bold mt-3">Confirm Password Reset</h2>
                    {{ form|crispy }}
                </div>
                <div class="form-group">
                    <button class="btn btn-primary col-lg-7" type="submit">Reset Password</button>
                </div>        
            </form>  
        </div>
    </div>  
</div> 
{%endblock content %}

