{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
  <h2>Password Reset</h2>
  <p>Contact googleadmin@edulution.org to reset your password.</p>
  <a href="{% url 'login' %}">Back</a>
{% endblock %}

{% block extra_content %}
  {% load socialaccount %}
  <hr>
  <h4>Or, sign in with:</h4>
  {% providers_media_js %}
  <div class="btn-group">
    <a class="btn btn-social-icon btn-google" href="{% provider_login_url 'google' %}">
      <i class="fa fa-google"></i>
    </a>
  </div>
{% endblock %}




